body {
    font-family:'Noto Sans JP',sans-serif;
    background: #070707;
}

.side {
    background-color:#242424;
    color: #fff;
    width:250px;
    height: 550px;
} 

.content {
    background: #242424;;
    width:900px;
    height: 586px;
    text-align:center;
    margin-left:10px;/*サイドバーとメインコンテンツの間に隙間                    をあけた*/
}

article {
    display:flex;/*サイドバーとメインコンテンツを横並びにする指定をした*/
    margin: 150px;
    margin-top: 20px;
}

.text1 {
    text-align: center;
}

h1 {
    font-size: 250%;
    display: inline-block;
    background: linear-gradient(90deg, #4158D0, #C850C0 30%, #FFCC70);
    background: -webkit-linear-gradient(0deg, #4158D0, #C850C0 30%, #FFCC70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
}

p {
    text-align: center;
    font-size: 40%;
    margin-top: 0.1em;
    margin-bottom: 0px;
}
p2 {
    text-align: center;
}

.text2 {
    text-align: left;
    font-size: 55%;
    line-height: 1;
    margin-left: 11px;
    margin-top: 1px;
}

hr {
    border-width:5px 0 0 0; 
    border-color:#fdba3d; 
    margin: 0px;
    }

btn--orange,
a.btn--orange {
    color: rgb(0, 0, 0);
    background-color: #fdba3d;
    margin-top: 100px;
    font-size: 80%;
    margin-left: 38px;
}
.btn--orange:hover,
a.btn--orange:hover {
    color: #000;
    background: #fdba3d;
}

.p3 {
    margin-top: 30px;
    text-align: center;
}

